*{
    font-family: system-ui, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
    --bs-primary: #2c3e50;
    --bs-secondary: #1bbc9d;
    --bs-primary-light: #3b546c;
}

.my-nav{
    background-color: var(--bs-primary);
    
    .navbar-brand{
        color: white;
        font-weight: 600;
        font-size: 1.5rem;
    }
    .nav-link{
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    }
    .navbar-toggler-icon{
        filter: invert(1);
    }
}

header{
    background-color:var(--bs-primary);
}

img{
    max-width: 100%;
}

.space{
    border: 1px solid;
    height: 0px;
}

.start {
    background: var(--bs-secondary);

    .space{
        border-color: white;
        height: 0px;
    }

    @media screen and (max-width:497px){
     
        .other{
            font-size: 0.9rem;
        }
    }
}

.portfolio{

    .space{
        border-color: var(--bs-primary);
        height: 0px;
    }
}

.about{
    background: var(--bs-secondary);    

    [class*="col-"]{
        text-align: left;
    }

    .btn{
        gap: 0.5rem;
    }
}

.contact{

    .space-debug{
        height: 20rem;
        background-color: purple;
    }

    .btn{
        background-color: var(--bs-secondary);
    }

    ::placeholder {
        color: var(--bs-primary);
    }
}

.footer-top{
    background-color: var(--bs-primary-light);
    color: white;

    [class*="col-"]{
        text-align: center;
    }

    .icon{
        border: 1px solid white;
        width: 2rem;
        height: 2rem;
    }

    & i{
        line-height: 2rem;
    }

    & a{
        color: var(--bs-secondary);
    }
}

.footer-bottom{
    background-color: var(--bs-primary);
}